{% extends 'base.html' %}

{% block content %}
<h2>Adicionar Equipe</h2>
<form method="POST">
    {% csrf_token %}
    <label for="name">Nome da Equipe:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="leader_id">ID do Líder:</label>
    <input type="number" id="leader_id" name="leader_id" required>

    <label for="modalidade_id">ID da Modalidade:</label>
    <input type="number" id="modalidade_id" name="modalidade_id" required>
    
    <button type="submit">Adicionar Equipe</button>
</form>
{% endblock %}
