
{% if bracket %}
    {% for match in bracket %}
        <div class="row my-3">
            <div class="col-md-5 text-right">
                <strong>{{ match.0.name }}</strong> ({{ match.0.points }} pts)
            </div>
            <div class="col-md-2 text-center">
                {% if match.1 %}
                    VS
                {% else %}
                    Avançou
                {% endif %}
            </div>
            <div class="col-md-5 text-left">
                {% if match.1 %}
                    <strong>{{ match.1.name }}</strong> ({{ match.1.points }} pts)
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Nenhum chaveamento disponível para esta modalidade.</p>
{% endif %}
    