{% extends "base.html" %}
{% block content %}
<div class="container dynamic-content">
    <header>
        <h1>IFMS - Gerenciador de Chaveamento</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="modalidadeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecione a Modalidade
            </button>
            <div class="dropdown-menu" aria-labelledby="modalidadeDropdown">
                {% if modalidades %}
                    {% for modalidade in modalidades %}
                        <a class="dropdown-item" href="#" data-id="{{ modalidade.slug }}">{{ modalidade.nome }}</a>
                    {% endfor %}
                {% else %}
                    <p>Nenhuma modalidade encontrada. Cadastre novas modalidades para visualizar o chaveamento.</p>
                {% endif %}
            </div>
        </div>
    </header>
    <div id="main-content">
        <p>Selecione uma modalidade acima para visualizar o chaveamento e times.</p>
    </div>
</div>
{% endblock %}
