
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFMS Sports Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="dynamic-content">
        <h1>Bem-vindo ao IFMS Sports Management</h1>
        <p>Carregue o conteúdo usando os botões acima.</p>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('.dropdown-item').forEach(item => {
              item.addEventListener('click', function(event) {
                  event.preventDefault();
                  const modalidadeSlug = this.getAttribute('data-id');
                  window.location.href = `/bracket/${modalidadeSlug}/`;
              });
          });
  
          function loadContent(url) {
              console.log(`Requisição de conteúdo para: ${url}`);
              fetch(url)
                  .then(response => response.text())
                  .then(html => {
                      console.log("Conteúdo recebido:");
                      document.getElementById('main-content').innerHTML = html;
                  })
                  .catch(error => {
                      console.error("Erro ao carregar o conteúdo:", error);
                      document.getElementById('main-content').innerHTML = "<p>Erro ao carregar o conteúdo. Verifique o console para mais detalhes.</p>";
                  });
          }
      });
  </script>
  
</html>
    