<!-- core/templates/core/signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sign Up</title>
</head>
<body>
  {% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </div>
    {% endblock %}
</body>
</html>
