body {
  background-color: #f0f0f0;
}

.navbar-brand {
  color: #007bff !important;
}

h1.display-4, .carousel-caption h5 {
  color: #333;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}
